/*Paleta de colores
#33381F
#834E1F
#FF7CB1
#F4EE12
#FFF6E0
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pridi:wght@200;300;400;500;600;700&display=swap");
html {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff6e0;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

nav {
  font-size: 1.2rem;
}

p, label {
  font-size: 1.5rem;
}

.linea {
  margin: 5rem 0;
}


.titulo2,
.titulo3,
.titulo4,
.titulo5,
.titulo6,
.titulo7 {
  font-weight: bolder;
}

.titulo2 {
  color: #FF7CB1;
}

.titulo3 {
  color: #3c3b2a;
}

.titulo4 {
  color: #FF7CB1;
}

h5 {
  color: #33381F;
  font-weight: bolder;
}

.negrita {
  font-weight: bolder;
}


.fondo1 {
  background-color: #d6dbe3;
}

.fondo2 {
  background-color: #33381F;
}

.fondo3 {
  background-color: #FF7CB1;
}

.iconos {
  color: #FF7CB1;
  font-size: 6.5rem;
}

.boton0 {
  background-color: #3c3b2a;
  color: #33381F;
}
.boton0:hover {
  background-color: #FF7CB1;
  color: #fff;
}

.boton1,
.boton2,
.boton3 {
  background-color: #33381F;
  color: #FF7CB1;
}
.boton1:hover,
.boton2:hover,
.boton3:hover {
  background-color: #FF7CB1;
  color: #33381F;
}

/*header*/

        
/* clases del video de fondo*/


.banner1 {
    background-image: url("/imagenes/elTigreBanner1Min.jpg");
    /*background-size: cover;*/
    background-position: center;
    /*background-attachment: scroll;*/
    /*box-shadow: #FFF6E0;
    background-color: #4a0707;*/
    background-blend-mode:luminosity;
    /*height: 100vh;*/
    
}

.container-fluid1 {
    padding-top: 230px;
    padding-bottom: 230px;

}

  /*nav Bar*/
  
  .fondo2 {
    background-color: #33381F;
  }
  
  
  .navbar {
    padding: 20px;
    letter-spacing: 3px;
    /*color: #000;*/
    background-color: #33381F;
  }
  
  .navbar li {
    padding-right: 55px;
  }
  
  .optmenu {
    transition: all 1s solid;
  }
  .optmenu:hover {
    color: #fff;
    background-color: #FF7CB1;
    transition: all 1s solid;
  }
  .optmenu:active {
    background-color: #834e1f;
  }
  
  .navbar-toggler {
    background-color: #FFF6E0;
    border: 3px solid;
    margin: 0 auto;
  }
  .navbar-toggler:hover {
    background-color: #FFF6E0;
  }
  
  .custom-toggler.navbar-toggler {
    border-color: #FFF6E0;
  }
  
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,124,177)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,124,177)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  /*Secciones*/

  /*acordeon*/


/*color de fondo de cada seccion*/

.accordion-body {
    background-color: #fff6e0;
}


/*justificar textos*/

.justificar {
    text-align: justify;
    text-indent: 0rem;
    margin: 0;
}


/*cambiar color a las flechas finales de cada seccion*/

.accordion-button:is(.collapsed)::after {
    box-shadow: none;
    background-color: #f4ee12;
}

.accordion-button:not(.collapsed)::after {
    box-shadow: none;
    background-color: #f4ee12;
}


/*estado actual*/

.accordion-button {
    color: #fff !important;
    background-color: rgb(51,56,31);
    font-size: 20px;
}


/*La pseudo-clase :last-child de CSS representa el último elemento entre un grupo de elementos hermanos.*/

.accordion-button:last-child {
    background-color: rgb(51,56,31);
}


/*estado sobre*/

.accordion-button:hover {
    color: #000 !important;
    background-color: rgb(255,124,177);
}


/*estado activo*/

.accordion-button:focus {
    color: #fff !important;
    background-color: rgb(131, 78, 31);
}


/*grupo de listas*/

.lista:hover {
    color: rgb(17, 50, 143);
    background-color: #e4e4e4;
    border-color: rgb(17, 50, 143);
    border-width: 2px;
}

/*Barras Progreso*/

  /*Footer*/
footer {
    color: #fff;
    background-color: #834E1F;
  }
  footer .copyright {
    font-size: 1.3rem;
  }
